body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header-box {
    background-color: #ffc0cb;
    color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.btn-large {
    font-size: 1.25rem;
    padding: 1rem 2rem;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-body {
    font-size: 1rem;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}


.form-group button:hover {
    background-color: yellow;
    color: #000;
}

.recover-password-link {
    color: #007bff; /* зміни колір тексту на синій */
    cursor: pointer; /* зміни вигляд курсора на вказівник, щоб підказати можливість кліку */
}

.recover-password-link:hover {
    text-decoration: underline; /* підкресли посилання при наведенні */
}